body{
	background-color: #101010;
	color:#fff;
}

#myCanvas{
	background-color: #aaa;
	display: block;
	margin: auto;
	margin-top: 50px;
	border-radius: 5px;
}

#buttons{
	padding-top: 50px;
	padding-left: 500px;
}

.block{
	background-color: #5588FF;
	width: 25px;
	height: 25px;
	margin: 5px;
}

.row{
	float: left;
}